<html>
<head>
<title>Movie Generator</title>
</head>
<body>
<h1>Click the type of movie you would like to watch</h1>
</body>
<p>
  <button type= "romance">
    <ul>
      <li><a href="/romance">All Romance</a>
      </li>
  </button>
  <button type= "romcom">
    <ul>
      <li><a href="/romcom">Romantic Comedy</a>
    </li>
  <button type= "romdrama">
    <ul>
      <li><a href="/romance">Romantic Drama</a>
    </li>


</p>
</html>
